.add_movie {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  & form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;

    & h2 {
      font-size: 38px;
      margin-bottom: 25px;
    }

    & #input-link {
      font-size: 24px;
      color: #000;
      width: 700px;
      padding: 15px 25px;
      margin-bottom: 25px;
      border-radius: 10px;
      outline: none;
    }

    & #input-submit {
      font-size: 18px;
      color: #fff;
      width: 200px;
      padding: 15px 25px;
      border-radius: 10px;
      background-color: #5C5CFF;
      cursor: pointer;
    }
  }
}